* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial;
}

body {
  margin: 0;
  color: #6e6d7a;
  height: 100%;
  vertical-align: baseline;
  line-height: 24px;
}

ul,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #6e6d7a;

  &:active {
    color: black;
  }
}

.container {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  background: #fff;
  z-index: 9996;
  color: #6e6d7a;
  position: fixed;
  height: 80px;
}

.header {
  box-shadow: inset 0px -1px 0px #f3f4f4;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #6e6d7a;
  height: 80px;
}

.nav {
  display: flex;
  height: inherit;
  overflow: visible;
  align-items: center;

  .links-container {
    display: none;
  }
}

.chevron {
  width: 6px;
  height: 6px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 9px;
  transform: rotate(45deg) translateX(-2px);
}

a.burger {
  width: 60px;
  text-align: center;
  margin-left: -30px;
  line-height: 60px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.close {
  display: none;
}

.fill-current {
  fill: currentColor;
}

a.logo {
  &:hover {
    opacity: 0.7;
  }
}
.logo svg {
  margin: 0 auto;
  display: block;
  height: 60px;
  fill: #333;
}
input[type="text"],
input[type="number"],
input[type="search"] {
  height: 40px;
  padding: 10px 16px;
  outline: none;
  border-radius: 8px;
}

input:hover[type="text"],
input:hover[type="number"],
input:hover[type="search"] {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

//mobile-search
.mobile-nav .nav-search-text {
  padding-left: 30px;
  background-color: #f3f3f4;
  border: none;
  width: calc(100% - 48px);
}

.nav-search-wrapper {
  width: 100%;
}

.nav-search-wrapper .nav-search-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  color: #9e9ea7;
  top: 22px;
  left: 30px;
  fill-rule: evenodd;
}
//desktop-search

.desktop-search {
  position: relative;
  .nav-search-icon {
    position: absolute;
    top: 12px;
    right: 4px;
    fill-rule: evenodd;
  }
}
.nav-search {
  border: none;
}

//auth-group
.auth-group {
  .auth-group-item:not(:nth-child(2)) {
    display: none;
  }
}

.btn {
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: #ea4c89;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 8px;
  height: 40px;
  line-height: 20px;

  &:hover {
    opacity: 0.6;
  }
}
.main-btn {
  span {
    font-size: 14px;
    font-weight: 600;
    color: white;
  }
}

.sign-in {
  font-size: 16px;
  color: #9da3a5;
}

//чет по ширине
@media (min-width: 920px) {
  a.burger {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    .links-container {
      display: flex;
      height: inherit;
      align-items: center;
      li.dropdown-item {
        display: flex;
        height: inherit;
        align-items: center;
        padding-right: 27px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  a.logo {
    margin-right: 20px;
  }

  .auth-group {
    display: flex;
    align-items: center;
    .auth-group-item:not(:nth-child(2)) {
      display: block;
      padding-left: 5px;
    }
  }
  .sign-in {
    margin: 0 13px;
  }
}

.nav-dropdown {
  display: none;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 80px;
  width: 100vw;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
}

@media (min-width: 920px) {
  .links-container li:hover .nav-dropdown {
    display: flex;
    padding-left: 72px;
  }
  .mega-nav-box {
    width: 180px;
    padding: 30px 8px;
    margin-right: 40px;

    .title {
      font-size: 16px;
      font-weight: 600;
      color: #333;
      padding-top: 15px;
      padding-bottom: 7px;
    }

    img {
      width: 140px;
      height: 105px;
      border-radius: 8px;
      display: block;
      object-fit: cover;
    }

    .mega-description {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      display: inline-block;
    }
  }

  .nav-extras {
    padding-top: 20px;
    font-weight: 500;

    ul {
      flex-direction: column;
      width: 70%;

      li {
        padding: 7px 0;
      }
    }
  }

  .mobile-nav {
    display: none;
  }
}

@media (max-width: 919px) {
  .mobile-nav {
    display: none;
  }

  .mobile-nav.is-open {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
  }
  .nav-icon {
    display: block;
    height: 18px;
    width: 18px;
    color: #9e9ea7;
    position: relative;
    top: 4px;
  }

  .mobile-nav-search {
    margin: 10px 24px 10px;
  }

  .mobile-nav-main > li > a {
    font-size: 18px;
    font-weight: 500;
  }

  .mobile-nav-main svg {
    height: 16px;
    width: 16px;
    float: right;
    margin-top: 3px;
  }

  .mobile-nav-main a {
    padding: 12px 24px;
    display: block;
  }
  .mobile-dropdown-nav {
    border-left: 1px solid #e7e7e9;
    margin: 15px 0 15px 20px;
    padding-left: 5px;
    display: none;
  }

  .toggle-mobile-nav-dropdown.open + .mobile-dropdown-nav {
    display: block;
  }

  .caret-down {
    transition: transform 0.2s ease-in-out;
  }

  .toggle-mobile-nav-dropdown.open {
    .caret-down {
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;
    }
  }

  .is-open {
    .close {
      display: block;
      font-size: 30px;
    }
    .nav-icon {
      display: none;
    }
  }
}
